<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            padding-left: 600px;
            padding-top: 100px;
            padding-bottom: 300px;
            background-color:lightgrey;
        }
        body{
            background-size: cover;
            color: cornflowerblue;
        }
    </style>
</head>
<body>
    <form method="POST">
        <div class="container">
        <h1>ADD POST</h1>
        <label for="">Title:</label><br>
        <input name="title" type="text"><br>
        <label for="">Content:</label><br>
        <textarea name="content" rows="5"></textarea><br>
        <label for="">Slug:</label><br>
        <input name="slug" type="text"><br><br>
        <button>Submit</button>
        </div>
    </form>  
</body>
</html>