<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .container{
            padding-left: 600px;
            padding-bottom: 350px;
            padding-top:150px;
            background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
            background-size:cover;
        }
    </style>
</head>
<body>
    <form method="POST">
        <div class="container">
        <h1>login</h1>
        <label> Username</label><br>
        <input name="username" type="text"><br>
        <label> Password</label><br>
        <input name="password" type="text"><br><br>
        <button>Submit</button><br>
        </div>
    </form>

</body>
</html>